In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
latest_file = 'Vinesh_Portfolio_2025-02-27.csv'

In [3]:
##

data=pd.read_csv(latest_file, encoding='latin1', skiprows=1, usecols=range(1, 25))

In [4]:
data.head()

,RIC,Name,Business Description,Sector,Country,Market Cap\n(mn USD),Quantity,Price,Market Value,Current Weight,...,1.0%,Re-Size (Qt),Re-Size ($),Close Trade,Close (Qt),"$1,871",0.03%,1.55%,Diff,Unnamed: 24
0,ZI.O,ZOOMINFO TECHNOLOGIES ORD,"ZoomInfo Technologies Inc., through its subsid...",Communication Services,United States,"$4,015",15696.0,$11.7,"$184,114",1.23%,...,Sell,"2,893","$33,935",NaN,NaN,29.0,0.09%,NaN,0.23%,NaN
1,MDGL.O,MADRIGAL PHARMACEUTICALS ORD,"Madrigal Pharmaceuticals, Inc. is a clinical-s...",Health Care,United States,"$7,762",484.0,$355.9,"$172,246",1.15%,...,Sell,62,"$22,065",NaN,NaN,1.0,0.00%,NaN,0.15%,NaN
2,LX.O,LEXINFINTECH HOLDINGS ADR,Lexinfintech Holdings Ltd is a company princip...,Financials,United States,"$1,499",18595.0,$9.1,"$169,586",1.13%,...,Sell,"2,128","$19,407",NaN,NaN,21.0,0.11%,NaN,0.13%,NaN
3,HURN.O,HURON CONSULTING GROUP ORD,Huron Consulting Group Inc. is a professional ...,Industrials,United States,"$2,619",1109.0,$148.2,"$164,332",1.10%,...,Sell,95,"$14,077",NaN,NaN,1.0,0.01%,NaN,0.09%,NaN
4,FUTU.O,FUTU HOLDINGS ADR,Futu Holdings Limited is an investment holding...,Financials,United States,"$15,723",1434.0,$114.0,"$163,476",1.09%,...,Sell,116,"$13,224",NaN,NaN,1.0,0.01%,NaN,0.09%,NaN

In [5]:
data.shape

(499, 24)

In [6]:
data.tail()

,RIC,Name,Business Description,Sector,Country,Market Cap\n(mn USD),Quantity,Price,Market Value,Current Weight,...,1.0%,Re-Size (Qt),Re-Size ($),Close Trade,Close (Qt),"$1,871",0.03%,1.55%,Diff,Unnamed: 24
494,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
495,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
496,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
497,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
498,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# Drop any completely NA rows, keeping only rows with at least one non-NA value
data = data.dropna(how='all')

In [8]:
data.shape

(294, 24)

In [9]:
data.tail()

,RIC,Name,Business Description,Sector,Country,Market Cap\n(mn USD),Quantity,Price,Market Value,Current Weight,...,1.0%,Re-Size (Qt),Re-Size ($),Close Trade,Close (Qt),"$1,871",0.03%,1.55%,Diff,Unnamed: 24
289,ASTS.O,AST SPACEMOBILE CL A ORD,"AST SpaceMobile, Inc. is engaged in building a...",Communication Services,United States,"$7,892",-5902.0,$27.2,"-$160,770",-1.07%,...,BuyToCover,257,"$7,001",NaN,NaN,3.0,0.04%,NaN,-0.05%,NaN
290,WLFC.O,WILLS LEASE FINANCE ORD,"Willis Lease Finance Corporation, along with i...",Industrials,United States,"$1,307",-817.0,$198.0,"-$161,733",-1.08%,...,BuyToCover,40,"$7,918",NaN,NaN,0.0,0.01%,NaN,-0.05%,NaN
291,MSTR.O,MICROSTRATEGY CL A ORD,"MicroStrategy Incorporated, doing business as ...",Information Technology,United States,"$67,971",-616.0,$263.3,"-$162,174",-1.08%,...,BuyToCover,31,"$8,161",NaN,NaN,0.0,0.00%,NaN,-0.06%,NaN
292,BTDR.O,BITDEER TECHNOLOGIES CL A ORD,Bitdeer Technologies Group is a technology com...,Information Technology,United States,"$1,973",-16682.0,$10.3,"-$170,991",-1.14%,...,BuyToCover,"1,681","$17,230",NaN,NaN,17.0,0.10%,NaN,-0.11%,NaN
293,SMCI.O,SUPER MICRO COMPUTER ORD,"Super Micro Computer, Inc. is an application-o...",Information Technology,United States,"$30,333",-3392.0,$51.1,"-$173,365",-1.16%,...,BuyToCover,383,"$19,575",NaN,NaN,4.0,0.02%,NaN,-0.13%,NaN

In [10]:
# Create the 'close' DataFrame with rows where the 13th column has the value 1

close = data[data.iloc[:, 12] == 1]

In [11]:
close.shape

(30, 24)

In [12]:
close.head()

,RIC,Name,Business Description,Sector,Country,Market Cap\n(mn USD),Quantity,Price,Market Value,Current Weight,...,1.0%,Re-Size (Qt),Re-Size ($),Close Trade,Close (Qt),"$1,871",0.03%,1.55%,Diff,Unnamed: 24
11,TILE.O,INTERFACE ORD,"Interface, Inc. is a global flooring company. ...",Industrials,United States,"$1,156",7952.0,$19.8,"$157,609",1.05%,...,NaN,NaN,NaN,Sell,7952.0,NaN,NaN,NaN,1.05%,NaN
27,EVER.O,EVERQUOTE CL A ORD,"EverQuote, Inc. operates an online marketplace...",Communication Services,United States,$920,5858.0,$25.7,"$150,785",1.01%,...,NaN,NaN,NaN,Sell,5858.0,NaN,NaN,NaN,1.01%,NaN
55,SEZL.O,SEZZLE ORD,Sezzle Inc. is a fintech company. The CompanyÂ’...,Financials,United States,"$1,722",474.0,$306.2,"$145,153",0.97%,...,NaN,NaN,NaN,Sell,474.0,NaN,NaN,NaN,0.97%,NaN
61,DK,DELEK US HOLDINGS ORD,"Delek US Holdings, Inc. is a diversified downs...",Energy,United States,$946,9241.0,$15.1,"$139,724",0.93%,...,NaN,NaN,NaN,Sell,9241.0,NaN,NaN,NaN,0.93%,NaN
64,LXFR.K,LUXFER HOLDINGS ORD,Luxfer Holdings PLC is a global industrial com...,Industrials,United States,$344,10640.0,$12.9,"$136,830",0.91%,...,NaN,NaN,NaN,Sell,10640.0,NaN,NaN,NaN,0.91%,NaN

In [13]:
close.reset_index(drop=True,inplace=True)

In [14]:
close.shape

(30, 24)

In [15]:
close.head()

,RIC,Name,Business Description,Sector,Country,Market Cap\n(mn USD),Quantity,Price,Market Value,Current Weight,...,1.0%,Re-Size (Qt),Re-Size ($),Close Trade,Close (Qt),"$1,871",0.03%,1.55%,Diff,Unnamed: 24
0,TILE.O,INTERFACE ORD,"Interface, Inc. is a global flooring company. ...",Industrials,United States,"$1,156",7952.0,$19.8,"$157,609",1.05%,...,NaN,NaN,NaN,Sell,7952.0,NaN,NaN,NaN,1.05%,NaN
1,EVER.O,EVERQUOTE CL A ORD,"EverQuote, Inc. operates an online marketplace...",Communication Services,United States,$920,5858.0,$25.7,"$150,785",1.01%,...,NaN,NaN,NaN,Sell,5858.0,NaN,NaN,NaN,1.01%,NaN
2,SEZL.O,SEZZLE ORD,Sezzle Inc. is a fintech company. The CompanyÂ’...,Financials,United States,"$1,722",474.0,$306.2,"$145,153",0.97%,...,NaN,NaN,NaN,Sell,474.0,NaN,NaN,NaN,0.97%,NaN
3,DK,DELEK US HOLDINGS ORD,"Delek US Holdings, Inc. is a diversified downs...",Energy,United States,$946,9241.0,$15.1,"$139,724",0.93%,...,NaN,NaN,NaN,Sell,9241.0,NaN,NaN,NaN,0.93%,NaN
4,LXFR.K,LUXFER HOLDINGS ORD,Luxfer Holdings PLC is a global industrial com...,Industrials,United States,$344,10640.0,$12.9,"$136,830",0.91%,...,NaN,NaN,NaN,Sell,10640.0,NaN,NaN,NaN,0.91%,NaN

In [16]:
close = close[['Close Trade','RIC','Close (Qt)']]

In [17]:
close.shape

(30, 3)

In [18]:
close.head()

  Close Trade     RIC  Close (Qt)
0        Sell  TILE.O      7952.0
1        Sell  EVER.O      5858.0
2        Sell  SEZL.O       474.0
3        Sell      DK      9241.0
4        Sell  LXFR.K     10640.0

In [19]:
close.reset_index(drop=True,inplace=True)

In [20]:
close.shape

(30, 3)

In [21]:
resize = data[data.iloc[:, 13] == 1]

In [22]:
resize.shape

(194, 24)

In [23]:
resize.reset_index(drop=True,inplace=True)

In [24]:
resize.head()

,RIC,Name,Business Description,Sector,Country,Market Cap\n(mn USD),Quantity,Price,Market Value,Current Weight,...,1.0%,Re-Size (Qt),Re-Size ($),Close Trade,Close (Qt),"$1,871",0.03%,1.55%,Diff,Unnamed: 24
0,ZI.O,ZOOMINFO TECHNOLOGIES ORD,"ZoomInfo Technologies Inc., through its subsid...",Communication Services,United States,"$4,015",15696.0,$11.7,"$184,114",1.23%,...,Sell,"2,893","$33,935",NaN,NaN,29.0,0.09%,NaN,0.23%,NaN
1,MDGL.O,MADRIGAL PHARMACEUTICALS ORD,"Madrigal Pharmaceuticals, Inc. is a clinical-s...",Health Care,United States,"$7,762",484.0,$355.9,"$172,246",1.15%,...,Sell,62,"$22,065",NaN,NaN,1.0,0.00%,NaN,0.15%,NaN
2,LX.O,LEXINFINTECH HOLDINGS ADR,Lexinfintech Holdings Ltd is a company princip...,Financials,United States,"$1,499",18595.0,$9.1,"$169,586",1.13%,...,Sell,"2,128","$19,407",NaN,NaN,21.0,0.11%,NaN,0.13%,NaN
3,HURN.O,HURON CONSULTING GROUP ORD,Huron Consulting Group Inc. is a professional ...,Industrials,United States,"$2,619",1109.0,$148.2,"$164,332",1.10%,...,Sell,95,"$14,077",NaN,NaN,1.0,0.01%,NaN,0.09%,NaN
4,FUTU.O,FUTU HOLDINGS ADR,Futu Holdings Limited is an investment holding...,Financials,United States,"$15,723",1434.0,$114.0,"$163,476",1.09%,...,Sell,116,"$13,224",NaN,NaN,1.0,0.01%,NaN,0.09%,NaN

In [25]:
# Select columns at the 14th, 15th, and 2nd positions
resize = resize.iloc[:, [14, 0,15]]

In [26]:
resize.shape

(194, 3)

In [27]:
resize.head()

   1.0%     RIC Re-Size (Qt)
0  Sell    ZI.O        2,893
1  Sell  MDGL.O           62
2  Sell    LX.O        2,128
3  Sell  HURN.O           95
4  Sell  FUTU.O          116

In [28]:
resize.reset_index(drop=True,inplace=True)

In [29]:
resize.shape

(194, 3)

In [30]:
resize.head()

   1.0%     RIC Re-Size (Qt)
0  Sell    ZI.O        2,893
1  Sell  MDGL.O           62
2  Sell    LX.O        2,128
3  Sell  HURN.O           95
4  Sell  FUTU.O          116

In [31]:
##

data1 = pd.read_csv(latest_file, encoding='latin1', skiprows=1, usecols=range(32, 56))

In [32]:
data1.head()

,Date,ISIN.1,Weight,Effective Weight,RIC.1,ISIN.2,CUSIP,Name.1,Business Description.1,Market,...,0.1,CGS Position,Size up,Kill: Opposite,Kill: Country,Kill:\nManual,Kill:\nTotal,24,New (Qt),New Trade
0,27-02-2025,US69888T2078,1.00%,1.00%,PARR.K,US69888T2078,69888T207,Par Pacific Holdings Inc,"Par Pacific Holdings, Inc. is an energy compan...",United States of America,...,True,$0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN
1,27-02-2025,US9292361071,1.00%,1.00%,WDFC.O,US9292361071,929236107,WD-40 Co,WD-40 Company is a global marketing company. T...,United States of America,...,True,$0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN
2,27-02-2025,US69366J2006,1.00%,1.00%,PTCT.O,US69366J2006,69366J200,PTC Therapeutics Inc,"PTC Therapeutics, Inc. is a global biopharmace...",United States of America,...,True,$0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN
3,27-02-2025,US68571X3017,1.00%,1.00%,ORC,US68571X3017,68571X301,Orchid Island Capital Inc,"Orchid Island Capital, Inc. is a specialty fin...",United States of America,...,True,$0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN
4,27-02-2025,US1252691001,1.00%,1.00%,CF,US1252691001,125269100,CF Industries Holdings Inc,"CF Industries Holdings, Inc. is a manufacturer...",United States of America,...,True,$0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN

In [33]:
data1.shape

(499, 24)

In [34]:
new = data1[data1.iloc[:, 21] == 1]

In [35]:
new.shape

(24, 24)

In [36]:
new=new[['New Trade','RIC.1','New (Qt)']]

In [37]:
new.shape

(24, 3)

In [38]:
new.head()

    New Trade   RIC.1  New (Qt)
8         Buy     AER    1470.0
17        Buy     UHS     835.0
66        Buy     ASR     494.0
83        Buy     RRC    2538.0
105       Buy  LEVI.K    3384.0

In [39]:
new.reset_index(drop=True,inplace=True)

In [40]:
new.shape

(24, 3)

In [41]:
new.head()

  New Trade   RIC.1  New (Qt)
0       Buy     AER    1470.0
1       Buy     UHS     835.0
2       Buy     ASR     494.0
3       Buy     RRC    2538.0
4       Buy  LEVI.K    3384.0

In [42]:
# Rename the columns for each DataFrame

close.columns = ['Transaction Type', 'Identifier', 'Quantity']
resize.columns = ['Transaction Type', 'Identifier', 'Quantity']
new.columns = ['Transaction Type', 'Identifier', 'Quantity']

In [43]:
# Concatenate the DataFrames vertically

trades = pd.concat([close, resize, new], ignore_index=True)

In [44]:
trades.shape

(248, 3)

In [45]:
# Remove commas and convert Quantity to numeric while preserving NaNs
trades['Quantity'] = trades['Quantity'].replace(',', '', regex=True)
trades['Quantity'] = pd.to_numeric(trades['Quantity'], errors='coerce')

# Ensure the Quantity column is converted to integers
trades['Quantity'] = trades['Quantity'].astype(int)

In [46]:
##

check=pd.read_csv(latest_file, encoding='latin1', skiprows=15, usecols=range(29,30))
check.iloc[0,0]

248.0

In [47]:
len(trades) == check.iloc[0,0]

True

In [48]:
Longs = trades[trades['Transaction Type'] != "SellShort"]

In [49]:
Longs.reset_index(drop=True,inplace=True)

In [50]:
Longs.shape

(187, 3)

In [51]:
Shorts = trades[trades['Transaction Type'] == "SellShort"]

In [52]:
Shorts.reset_index(drop=True,inplace=True)

In [53]:
Shorts.shape

(61, 3)

In [54]:
# Add new columns and assign their respective values
Longs['Scheme'] = 'Prime Fast (NA)'
Longs['Account Allocation'] = 'CGS - MS Margin'
Longs['Identifier Type'] = 'RIC'
Longs['Execution Method'] = 'Electronic'
Longs['Order Type'] = 'Market'
Longs['Time In Force'] = 'Day'
Longs['Account Allocation Hierarchy Name'] = 'US 2'
Longs['Broker Account'] = 'CGS'

# Reorganize the DataFrame to match the desired column order
Longs = Longs[['Scheme', 'Account Allocation', 'Transaction Type', 'Identifier',
               'Identifier Type', 'Quantity', 'Execution Method', 'Order Type',
               'Time In Force', 'Broker Account', 'Account Allocation Hierarchy Name']]

C:\Users\Vedant Wanchoo\AppData\Local\Temp\ipykernel_21600\1385277902.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Longs['Scheme'] = 'Prime Fast (NA)'
C:\Users\Vedant Wanchoo\AppData\Local\Temp\ipykernel_21600\1385277902.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Longs['Account Allocation'] = 'CGS - MS Margin'
C:\Users\Vedant Wanchoo\AppData\Local\Temp\ipykernel_21600\1385277902.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Longs['Identifier Type'] = 'RIC'
C:\Users\Vedant Wanchoo\AppData\Local\Temp\ipykernel_21600\1385277902.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Longs['Execution Method'] = 'Electronic'
C:\Users\Vedant Wanchoo\AppData\Local\Temp\ipykernel_21600\1385277902.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Longs['Order Type'] = 'Market'
C:\Users\Vedant Wanchoo\AppData\Local\Temp\ipykernel_21600\1385277902.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Longs['Time In Force'] = 'Day'
C:\Users\Vedant Wanchoo\AppData\Local\Temp\ipykernel_21600\1385277902.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Longs['Account Allocation Hierarchy Name'] = 'US 2'
C:\Users\Vedant Wanchoo\AppData\Local\Temp\ipykernel_21600\1385277902.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Longs['Broker Account'] = 'CGS'

In [55]:
# Add new columns and assign their respective values
Shorts['Scheme'] = 'Prime Fast (NA)'
Shorts['Account Allocation'] = 'CGS - MS Margin'
Shorts['Identifier Type'] = 'RIC'
Shorts['Execution Method'] = 'Electronic'
Shorts['Order Type'] = 'Market'
Shorts['Time In Force'] = 'Day'
Shorts['Borrow Broker ID'] = 'MSCO'
Shorts['Borrow Locate ID'] = 'MSCO'
Shorts['Account Allocation Hierarchy Name'] = 'US 2'
Shorts['Broker Account'] = 'CGS'

# Reorganize the DataFrame to match the desired column order
Shorts = Shorts[['Scheme', 'Account Allocation', 'Transaction Type', 'Identifier',
                 'Identifier Type', 'Quantity', 'Execution Method', 'Order Type',
                 'Time In Force', 'Broker Account', 'Borrow Broker ID', 'Borrow Locate ID','Account Allocation Hierarchy Name']]

C:\Users\Vedant Wanchoo\AppData\Local\Temp\ipykernel_21600\2162765167.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Shorts['Scheme'] = 'Prime Fast (NA)'
C:\Users\Vedant Wanchoo\AppData\Local\Temp\ipykernel_21600\2162765167.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Shorts['Account Allocation'] = 'CGS - MS Margin'
C:\Users\Vedant Wanchoo\AppData\Local\Temp\ipykernel_21600\2162765167.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Shorts['Identifier Type'] = 'RIC'
C:\Users\Vedant Wanchoo\AppData\Local\Temp\ipykernel_21600\2162765167.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Shorts['Execution Method'] = 'Electronic'
C:\Users\Vedant Wanchoo\AppData\Local\Temp\ipykernel_21600\2162765167.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Shorts['Order Type'] = 'Market'
C:\Users\Vedant Wanchoo\AppData\Local\Temp\ipykernel_21600\2162765167.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Shorts['Time In Force'] = 'Day'
C:\Users\Vedant Wanchoo\AppData\Local\Temp\ipykernel_21600\2162765167.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Shorts['Borrow Broker ID'] = 'MSCO'
C:\Users\Vedant Wanchoo\AppData\Local\Temp\ipykernel_21600\2162765167.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Shorts['Borrow Locate ID'] = 'MSCO'
C:\Users\Vedant Wanchoo\AppData\Local\Temp\ipykernel_21600\2162765167.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Shorts['Account Allocation Hierarchy Name'] = 'US 2'
C:\Users\Vedant Wanchoo\AppData\Local\Temp\ipykernel_21600\2162765167.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Shorts['Broker Account'] = 'CGS'

In [56]:
MS = Shorts[['Identifier','Quantity']]

In [57]:
MS.shape

(61, 2)

In [58]:
Shorts.shape

(61, 13)

In [59]:
MS['Market']='United States'
MS['Price']=5
MS['RAWQ']=MS['Quantity']
MS['QT']=MS['Quantity']
MS['RIC']=MS['Identifier']

C:\Users\Vedant Wanchoo\AppData\Local\Temp\ipykernel_21600\333253027.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  MS['Market']='United States'
C:\Users\Vedant Wanchoo\AppData\Local\Temp\ipykernel_21600\333253027.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  MS['Price']=5
C:\Users\Vedant Wanchoo\AppData\Local\Temp\ipykernel_21600\333253027.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  MS['RAWQ']=MS['Quantity']
C:\Users\Vedant Wanchoo\AppData\Local\Temp\ipykernel_21600\333253027.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  MS['QT']=MS['Quantity']
C:\Users\Vedant Wanchoo\AppData\Local\Temp\ipykernel_21600\333253027.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  MS['RIC']=MS['Identifier']

In [60]:
MS = MS[['RIC','Price','RAWQ','QT','Market']]

In [61]:
MS.shape

(61, 5)

In [62]:
MS = MS.set_index('RIC')

In [63]:
MS.shape

(61, 4)

In [64]:
###

MS.to_csv('MS_Shorts_Request_Vinesh_2025-02-27.csv')

In [65]:
###

from openpyxl.utils import get_column_letter

# Define the output file name
output_file = r'CG_Order_Vinesh_2025-02-27.xlsx'

# Write the DataFrames to Excel
with pd.ExcelWriter(output_file, engine='openpyxl') as writer:
    # Write the DataFrames without index
    Longs.to_excel(writer, sheet_name='Longs', index=False)
    Shorts.to_excel(writer, sheet_name='Shorts', index=False)

    # Access the workbook
    workbook = writer.book

    # Adjust column widths for each sheet
    for sheet_name in ['Longs', 'Shorts']:
        sheet = workbook[sheet_name]
        for col in sheet.columns:
            col_letter = get_column_letter(col[0].column)  # Get column letter
            sheet.column_dimensions[col_letter].width = 20

print(f"Excel file '{output_file}' has been created with all columns 20 cm wide.")

Excel file 'CG_Order_Vinesh_2025-02-27.xlsx' has been created with all columns 20 cm wide.